
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Culture Rated</title>
</head>
<body>
  <h1>Welcome to Culture Rated</h1>
  <div>
    <p>
      Culture Rated is a platform for hip-hop enthusiasts to rate and explore the cultural impact of their favorite artists. Users can view artist stats and ratings to assess their influence and legacy within Hip-Hop culture, highlighting the role each artist plays in shaping the genre.
    </p>
  </div>
  <p>Rate an artist</p>
  <a href="/artist">View Artists</a>
</body>
</html>
